01-design/wsdl/schemas/bankgateway-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://nexuspay.com/bankgateway/v1"
  xmlns:ns="http://nexuspay.com/bankgateway/v1"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <!-- =========================
       Shared / Header Types
       ========================= -->

  <xs:complexType name="CorrelationHeader">
    <xs:sequence>
      <xs:element name="correlationId" type="xs:string"/>
      <xs:element name="timestamp" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <!-- =========================
       Request / Response Types
       ========================= -->

  <xs:simpleType name="DecisionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="APPROVED"/>
      <xs:enumeration value="DECLINED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="AuthorisePaymentRequest">
    <xs:sequence>
      <xs:element name="header" type="ns:CorrelationHeader"/>
      <xs:element name="merchantId" type="xs:string"/>
      <xs:element name="amount" type="xs:decimal"/>
      <xs:element name="currency" type="xs:string"/>
      <xs:element name="paymentReference" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AuthorisePaymentResponse">
    <xs:sequence>
      <xs:element name="header" type="ns:CorrelationHeader"/>
      <xs:element name="decision" type="ns:DecisionType"/>
      <xs:element name="authCode" type="xs:string" minOccurs="0"/>
      <xs:element name="declineReason" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- =========================
       Fault Types
       ========================= -->

  <xs:complexType name="BankGatewayFault">
    <xs:sequence>
      <xs:element name="faultCode" type="xs:string"/>
      <xs:element name="faultMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- =========================
       Global Elements
       ========================= -->

  <xs:element name="AuthorisePaymentRequest" type="ns:AuthorisePaymentRequest"/>
  <xs:element name="AuthorisePaymentResponse" type="ns:AuthorisePaymentResponse"/>
  <xs:element name="BankGatewayFault" type="ns:BankGatewayFault"/>

</xs:schema>